@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rebond';
  src: url('/public/fonts/Rebond\ Grotesque.otf');
  src: local('Rebond Regular'), local('Rebond-Regular'),
      url('/public/fonts/Rebond\ Grotesque.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rebond';
  src: url('/public/fonts/Rebond\ Grotesque\ Light.otf');
  src: local('Rebond Light'), local('Rebond-Light'),
      url('/public/fonts/Rebond\ Grotesque\ Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rebond';
  src: url('/public/fonts/Rebond\ Grotesque\ Medium.otf');
  src: local('Rebond Medium'), local('Rebond-Medium'),
      url('/public/fonts/Rebond\ Grotesque\ Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rebond';
  src: url('/public/fonts/Rebond\ Grotesque\ Semibold.otf');
  src: local('Rebond Semibold'), local('Rebond-Semibold'),
      url('/public/fonts/Rebond\ Grotesque\ Semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rebond';
  src: url('/public/fonts/Rebond\ Grotesque\ Bold.otf');
  src: local('Rebond Bold'), local('Rebond-Bold'),
      url('/public/fonts/Rebond\ Grotesque\ Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer components{
  body::before{
    display: block;
    content: '';
    height: 56px;
  }
  button, input, textarea{
    @apply outline-0
  }
  #links .active{
    @apply text-gray-200
  }
  ::-webkit-scrollbar-thumb{
    @apply bg-slate-900
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 15px;
    border: 1px solid rgb(75 85 99);
  }
  ::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
  }
}